<% layout('boilerplate') %>
  <!-- <form action="/audio" method="post" enctype="multipart/form-data">
    <input type="text" name="title">
    <input type="file" name="audio" accept="audio/*">
    <select name="category">
      <% cat.forEach(cat=>{%>
        <option value="<%=cat.title%>">
          <%=cat.title%>
        </option>
        <%}); %>
    </select>
    <button>submit</button>
  </form>
 -->

  <h2 class="display-2 text-centre">Create New Audio</h2>

  <form action="/audio" method="post" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="title" class="form-label">Title:</label>
      <input type="text" class="form-control" id="title" name="title">
    </div>

    <div class="mb-3">
      <label class="form-label">Category:</label>
      <select class="form-select form-select-lg mb-3" aria-label="Large select example" name="category">
        <% cat.forEach(cat=>{%>
          <option value="<%=cat.title%>">
            <%=cat.title%>
          </option>
          <%}); %>
      </select>
    </div>
    <div class="mb-3">
      <input type="file" name="audio" accept="audio/*" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>